[MESSAGES CONTROL]
disable=missing-module-docstring,missing-function-docstring,missing-class-docstring,logging-fstring-interpolation,redefined-outer-name,too-few-public-methods

[FORMAT]
max-line-length=127

[MASTER]
ignored-modules=setuptools
